body{
    text-align: center;
    font-family: Helvetica;
}

button{
    border-radius: 4px;
    background-color: #2f73c9;
    color: white;
    border: none;
}

input{
    border-radius: 4px;
    border: 2px solid #c6c6c6;
}

#pag1{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 80px;
    margin-left: 80px;
    
    border-style: solid;
    border-width: 5px;
    border-radius: 4px;
    
}

.inputdemoBasicUsage .md-datepicker-button {
  width: 36px; }