<!DOCTYPE html>
<html>
    <head>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/styleSheet.css" rel="stylesheet">

        <title>Single Page Application</title>
    </head>


    <!-- Layout di pagina ------------------------------------------------------->

    <body>
        
                <h1>App</h1><br>

                
            <div>
                <button id="buttonReadPositions">Leggi le posizioni salvate</button><br><br>
                <button id="buttonCleanPositions">Reset positions</button><br><br>
                <button id="buttonShowMap">Guarda dove sei!</button><br><br>
            </div>
            <div id="campoTextPositions">
     </div><br><br>
        
        <script id="aProductTemplate" type="text/x-jquery-tmpl">

        </script>

        <script src="/static/js/jquery-2.2.3.min.js"></script>
        <script src="/static/js/jquery.tmpl.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>