<!DOCTYPE html>
<html>
<head>
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  
  <title>Single Page Application</title>
</head>


<!-- Layout di pagina ------------------------------------------------------->

<body>
  <div id="pag1">
    <div id="riga1">
        
        <h3 id="h3_1">Questo h3 è un pulsante:<br/>
             se clicko sopra cambio il contenuto del sottostante<br/>
             div con id=riga1
        </h3>
        
       
        <input  id="campoText1" type="text" name="numeroReg" value="01"/><br><br>
        <button id="leggiCampoText1" > manda richiesta numeroReg </button>
    </div>
    <div id="h3_2">
      
    </div>
    <div id="campoText1-div">
      
    </div>
    
  </div>
    
  <!-- Sezione Template ----------------------------------------------------->
  <!-- quando saranno un numero sufficinte evidenziamo -->
    
  <script id="aProductTemplate" type="text/x-jquery-tmpl">
      
  </script>
  
  <!-- fine Sezione Template ------------------------------------------------>
  
  
  <!--  sezione script javascript  ------------------------------------------>
  
  <script src="/static/jquery-2.2.3.min.js"></script>
  <script src="/static/jquery.tmpl.min.js"></script>
  <script src="/static/bootstrap.min.js"></script>
  <script src="/static/app.js"></script>
</body>
</html>
